* {
    margin: 0;
    padding: 0;
}

body {
    background: #f4f2ec url(images/fundo.png) repeat-x;
    font: 12px 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    margin: 20px;
}

header .logo img {
    margin: 20px;
}

header nav {
    width: 60%;
}

header ul {
    display: flex;
    justify-content: space-evenly;
}

header li {
    list-style-type: none;

}

header nav a {
    text-decoration: none;
    color: #ad670a;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: color .3s, border-color .3s;
}

header nav a:hover {
    color: #227115;
    border-bottom: 2px solid #227115;
}

.main-aside {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 90%;
}